<section class="wrapper">
  <div class="variables">
    <!--<label for="name">Name</label><br/>-->
    <!--<input type="text" id="name"/><br/>-->

    <label for="text">Text</label>
    <input type="text" id="text" value="Magic"/><br/>

    <p>Color 1</p>
    <label for="color-1-r">R</label>
    <input type="number" id="color-1-r" value="81" min="0" max="256"/>
    <label for="color-1-g">G</label>
    <input type="number" id="color-1-g" value="169" min="0" max="256"/>
    <label for="color-1-b">B</label>
    <input type="number" id="color-1-b" value="255" min="0" max="256"/><br/>

    <p>Color 2</p>
    <label for="color-2-r">R</label>
    <input type="number" id="color-2-r" value="255" min="0" max="256"/>
    <label for="color-2-g">G</label>
    <input type="number" id="color-2-g" value="15" min="0" max="256"/>
    <label for="color-2-b">B</label>
    <input type="number" id="color-2-b" value="174" min="0" max="256"/><br/>

    <p>Color 3</p>
    <label for="color-3-r">R</label>
    <input type="number" id="color-3-r" value="255" min="0" max="256"/>
    <label for="color-3-g">G</label>
    <input type="number" id="color-3-g" value="251" min="0" max="256"/>
    <label for="color-3-b">B</label>
    <input type="number" id="color-3-b" value="3" min="0" max="256"/><br/>

    <label for="hyp">Hypotenuse</label>
    <input type="number" id="hyp" value="5"/><br/>

    <label for="speed">Speed</label>
    <input type="text" id="speed" value="0.05"/><br/>

    <label for="blur">Blur</label>
    <input type="number" id="blur" value="3"/><br/>

    <input type="button" value="Reverse" id="reverse"/>

  </div>
  <div class="example">
    <p id="text-1">Magic</p>
    <p id="text-2">Magic</p>
    <p id="text-3">Magic</p>
  </div>
</section>

