<section class="wrapper">
  <div class="variables">

    <p>Background #</p>
    <label for="color-3-r">R</label>
    <input type="text" id="background-r" value="f" size="1"/>
    <label for="color-3-g">G</label>
    <input type="text" id="background-g" value="f" size="1"/>
    <label for="color-3-b">B</label>
    <input type="text" id="background-b" value="f" size="1"/><br/>

    <label for="text">Text</label>
    <input type="text" id="text" value="Magic"/><br/>

    <p>Color 1 #</p>
    <label for="color-1-r">R</label>
    <input type="text" id="color-1-r" value="4" size="1"/>
    <label for="color-1-g">G</label>
    <input type="text" id="color-1-g" value="f" size="1"/>
    <label for="color-1-b">B</label>
    <input type="text" id="color-1-b" value="4" size="1"/><br/>

    <p>Color 2 #</p>
    <label for="color-2-r">R</label>
    <input type="text" id="color-2-r" value="f" size="1"/>
    <label for="color-2-g">G</label>
    <input type="text" id="color-2-g" value="4" size="1"/>
    <label for="color-2-b">B</label>
    <input type="text" id="color-2-b" value="4" size="1"/><br/>

    <p>Color 3 #</p>
    <label for="color-3-r">R</label>
    <input type="text" id="color-3-r" value="4" size="1"/>
    <label for="color-3-g">G</label>
    <input type="text" id="color-3-g" value="4" size="1"/>
    <label for="color-3-b">B</label>
    <input type="text" id="color-3-b" value="f" size="1"/><br/>

    <label for="hyp">Hypotenuse</label>
    <input type="number" id="hyp" value="5"/><br/>

    <label for="speed">Speed</label>
    <input type="number" id="speed" value="0.05"/><br/>

    <label for="blur">Blur</label>
    <input type="number" id="blur" value="3"/><br/>

    <input type="button" value="Reverse" id="reverse"/>
    <input type="button" value="Transparent" id="transparent"/>

  </div>
  <div class="example">
    <p id="text-1">Magic</p>
  </div>
</section>

